<!DOCTYPE html>
<html>
  <head>
    <title>Dentonhub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



<!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<!-- Icons -->
    <link href="../assets/nucleo-icons.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/99e7cba2fb.js" crossorigin="anonymous"></script>



<!-- Theme CSS -->
    <link type="text/css" href="../assets/soft-design-system-pro.min.css" rel="stylesheet">

  </head>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

  <body>
    <%= render "layouts/navbar"%>
    <%= yield %>
    <%= render "layouts/footer"%>

    
  </body>
</html>
